<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.FranchiseMapper">
	
	<!-- 연간 판매량(월별, 지점별)  -->
	<select id="selectFCStatsAnnualSales" resultType="vo.ChartVO">
		SELECT I.ORDERMONTH chartLabel, NVL(SUM(D.MENUQTY*M.MENUPRICE),0) chartCount
		FROM (SELECT TO_CHAR(TRUNC(TO_DATE(#{baseDay},'YYYYMMDD'),'YY'),'YYMM')+LEVEL-1 ORDERMONTH FROM DUAL
		<![CDATA[CONNECT BY LEVEL < 13) I]]>
		LEFT JOIN ORDERLIST O ON TO_CHAR(O.ORDERDATE,'YYMM') = I.ORDERMONTH 
		<if test="fcId != null and fcId != ''">
			AND O.FCID = #{fcId}
		</if>
		LEFT JOIN ORDERDETAILLIST D ON O.ORDERNUMBER = D.ORDERNUMBER
		LEFT JOIN MENUINFO M ON D.MENUINDEX = M.MENUINDEX
		GROUP BY I.ORDERMONTH
		ORDER BY I.ORDERMONTH
	</select>	
	
	<!-- 메뉴별 월간 판매량(월별, 지점별)  -->
	<select id="selectFCStatsMenuSales" resultType="vo.ChartVO">
		SELECT M.MENUNAME chartLabel,NVL(SUM(O.MENUQTY),0) chartCount
		FROM MENUINFO M
		LEFT JOIN (SELECT O.ORDERDATE, O.FCID ,D.MENUINDEX, D.MENUQTY
		FROM ORDERLIST O
		JOIN ORDERDETAILLIST D ON O.ORDERNUMBER = D.ORDERNUMBER WHERE 1=1
		<if test="fcId != null and fcId != ''">
			AND FCID = #{fcId} 
		</if>
		<if test="baseDay != null and baseDay != ''">
			AND TO_CHAR(O.ORDERDATE,'YY/MM') = TO_CHAR(TO_DATE(#{baseDay},'YYYYMMDD'),'YY/MM')) O
		</if>
		ON M.MENUINDEX = O.MENUINDEX
		GROUP BY M.MENUNAME
		ORDER BY chartCount DESC, M.MENUNAME ASC NULLS LAST
	</select>
	
	<!-- 시간대별 매출 where orderdate and fcid and 전체 -->
	<select id="selectFCStatsTimeSales" resultType="vo.ChartVO">
		SELECT I.ORDERTIME chartLabel, SUM(M.MENUPRICE*D.MENUQTY) chartCount
		<![CDATA[FROM (SELECT LEVEL-1 ORDERTIME FROM DUAL CONNECT BY LEVEL <25) I]]>
		LEFT JOIN ORDERLIST O ON TO_CHAR(O.ORDERDATE,'HH24') = I.ORDERTIME 
		<if test="selectDate != null and selectDate != ''">
			AND TO_CHAR(O.ORDERDATE, 'YYMMDD') = #{selectDate} 
		</if>
		<if test="fcId != null and fcId != ''">
			AND FCID=#{fcId}
		</if>
		LEFT JOIN ORDERDETAILLIST D ON O.ORDERNUMBER = D.ORDERNUMBER
		LEFT JOIN MENUINFO M ON M.MENUINDEX = D.MENUINDEX
		GROUP BY I.ORDERTIME
		ORDER BY I.ORDERTIME	
	</select>
	
	<!-- 특정 월의 일자별 매출 WHERE FCID -->
	<select id="selectFcStatsMonthlySales" resultType="vo.ChartVO">
		SELECT I.ORDERDATE as chartLabel, SUM(M.MENUPRICE*D.MENUQTY) as chartCount
		FROM (SELECT TO_CHAR(TRUNC(TO_DATE(#{baseDay},'YYYYMMDD'),'MM'),'YYYYMMDD')+LEVEL-1 ORDERDATE
		        FROM DUAL
		<![CDATA[CONNECT BY LEVEL < TO_NUMBER(TO_CHAR(LAST_DAY(TO_DATE(#{baseDay},'YYYYMMDD')),'DD'))+1) I]]>       
		LEFT JOIN ORDERLIST O ON TO_CHAR(O.ORDERDATE,'YYYYMMDD') = I.ORDERDATE 
		<if test="fcId != null and fcId != ''">
			AND FCID = #{fcId}
		</if>
		LEFT JOIN ORDERDETAILLIST D ON O.ORDERNUMBER = D.ORDERNUMBER
		LEFT JOIN MENUINFO M ON M.MENUINDEX = D.MENUINDEX
		GROUP BY I.ORDERDATE
		ORDER BY I.ORDERDATE
	</select>


	<!-- 가맹점 단골고객 삭제 -->
	<delete id="deleteFcClientReg">
		DELETE FROM FCCLIENTREG WHERE seq = #{seq}
	</delete>

	<!-- 가맹점 단골고객 수정 -->
	<update id="updateFcClientReg">
		UPDATE FCCLIENTREG SET MEMO = #{memo}, gbflag = #{gbFlag} WHERE seq = #{seq}
	</update>

	<!-- 가맹점 단골고객 조회 - One -->
	<select id="selectFcClientOne" resultType="vo.FcClientRegVO">
		SELECT * FROM FCCLIENTREG WHERE 1=1
		<if test="fcId != null and fcId != ''">
			AND FCID = #{fcId}
		</if>
		<if test="clientPhone != null and clientPhone != ''">
			AND CLIENTPHONE = #{clientPhone}
		</if>
		<if test="seq != null and seq != ''">
			AND SEQ = #{seq}
		</if>
	</select>

	<!-- 가맹점 단골고객 조회 rowsCount -->
	<select id="selectFcClientRowsCount" parameterType="vo.FcClientRegVO" resultType="int">
		SELECT COUNT(*) FROM FCCLIENTREG WHERE FCID = #{vo.fcId}
		<include refid="fcClientRowsCount"></include>
	</select>

	<!-- 가맹점 단골고객 조회 Paging -->
	<select id="selectFcClientAll" resultType="vo.FcClientRegVO">
		SELECT * FROM FCCLIENTREG WHERE FCID = #{vo.fcId}
		<include refid="fcClientRowsCount"></include>
		ORDER BY SEQ DESC
		OFFSET #{cri.sno}-1 ROWS FETCH NEXT #{cri.rowsPerPage} ROWS ONLY 
	</select>

	<sql id="fcClientRowsCount" >
		<if test="cri.keyword != null and cri.keyword != ''">
			AND MEMO LIKE ('%'||#{cri.keyword}||'%')
		</if>
		<if test="vo.gbFlag != null and vo.gbFlag != ''">
			AND GBFLAG = #{vo.gbFlag}
		</if>
	</sql>

	<!-- 가맹점 단골고객등록 -->
	<insert id="insertFcClient">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
			SELECT NVL(MAX(SEQ),0)+1 FROM FCCLIENTREG
		</selectKey>
		INSERT INTO FCCLIENTREG 
		VALUES(#{seq}, #{fcId}, #{clientPhone}, #{memo}, #{gbFlag})
	</insert>


	<!-- 가맹점 오늘포함 이전 7일간 일별 매출 -->
	<select id="fcLastSevenDaysSalesPerDay" resultType="vo.ChartVO">
		SELECT to_char(i.orderdate, 'MM/DD') as chartLabel, SUM(d.menuqty * m.menuprice) as chartCount
		FROM (SELECT TRUNC(SYSDATE-6 + LEVEL -1) orderdate
		            FROM dual
      				<![CDATA[  CONNECT BY LEVEL < 8) i  ]]>
		LEFT JOIN orderlist o ON o.completeyn = 'Y'  AND to_char(o.orderdate,'yymmdd') = to_char(i.orderdate,'yymmdd')
		<if test="value != null and value != ''">
			AND  o.fcid = #{value}
		</if>
		LEFT JOIN orderdetaillist d ON o.ordernumber = d.ordernumber
		LEFT JOIN menuinfo m ON m.menuindex = d.menuindex
		GROUP BY i.orderdate
		ORDER BY i.orderdate
	</select>

	<!-- 가맹점 전일 매출 -->
	<select id="fcYesterdaySales" parameterType="string" resultType="vo.ChartVO">
		SELECT sum(d.menuqty * m.menuprice) chartCount
		FROM franchise f
		JOIN orderlist o ON f.fcid = o.fcid
		JOIN orderdetaillist d ON d.ordernumber = o.ordernumber
		JOIN menuinfo m ON d.menuindex = m.menuindex
		WHERE o.orderdate BETWEEN TRUNC(sysdate, 'dd')-1  AND TRUNC(sysdate, 'dd')
		AND o.completeyn = 'Y'
		<if test="value != null and value != ''">
			AND f.fcid = #{value}
		</if>
	</select>

	<!-- 가맹점 당월 매출 -->
	<select id="fcThisMonthSales" resultType="vo.ChartVO">
		SELECT sum(d.menuqty * m.menuprice) chartCount
		FROM franchise f
		JOIN orderlist o ON f.fcid = o.fcid
		JOIN orderdetaillist d ON d.ordernumber = o.ordernumber
		JOIN menuinfo m on d.menuindex = m.menuindex
		WHERE o.orderdate BETWEEN TRUNC(SYSDATE,'MM') AND LAST_DAY(SYSDATE)
		AND o.completeyn = 'Y'
		<if test="value != null and value != ''">
			AND f.fcid = #{value}
		</if>
	</select>
	
		<!-- 가맹점 전월 매출 -->
	<select id="fcLastMonthSales" resultType="vo.ChartVO">
		SELECT sum(d.menuqty * m.menuprice) chartCount
		FROM franchise f
		JOIN orderlist o ON f.fcid = o.fcid
		JOIN orderdetaillist d ON d.ordernumber = o.ordernumber
		JOIN menuinfo m on d.menuindex = m.menuindex
		WHERE o.orderdate BETWEEN ADD_MONTHS(TRUNC(SYSDATE,'MM'),-1) AND LAST_DAY(ADD_MONTHS(SYSDATE,-1))
		AND o.completeyn = 'Y'
		<if test="value != null and value != ''">
			AND f.fcid = #{value}
		</if>
	</select>

	<!-- 가맹점 당일 매출 -->
	<select id="fcTodaySales" resultType="vo.ChartVO">
		SELECT sum(d.menuqty * m.menuprice) chartCount
		FROM franchise f
		JOIN orderlist o ON f.fcid = o.fcid
		JOIN orderdetaillist d ON d.ordernumber = o.ordernumber
		JOIN menuinfo m ON d.menuindex = m.menuindex
		WHERE o.orderdate BETWEEN TRUNC(sysdate, 'dd')  AND TRUNC(sysdate, 'dd')+1
		AND o.completeyn = 'Y'
		<if test="value != null and value != ''">
			AND f.fcid = #{value}
		</if>
	</select>

	<!-- 가맹점 당월 발주금액 -->
	<select id="fcThisMonthOrderSum" resultType="vo.ChartVO">
		SELECT sum(i.itemprice * d.itemqty) chartCount
		FROM fcorder o
		JOIN fcorderdetail d ON o.fcorderseq = d.fcorderseq
		JOIN iteminfo i ON d.itemindex = i.itemindex
		WHERE o.fcorderdate BETWEEN TRUNC(sysdate, 'MM')  AND add_months(TRUNC(sysdate, 'MM'),1)
		<if test="value != null and value != ''">
			AND o.fcid = #{value}
		</if>
	</select>

	<!-- 가맹점 발주내역 searchOrderRows -->
	<select id="searchItemOrderListRows" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) FROM fcorder o
		<include refid="fcItemOrderSearch"></include>
		<include refid="fcItemOrderSearchFlag"></include>	
		AND o.fcid = #{vo.fcId}
	</select>  
	
	<!-- 가맹점 발주내역 서치,페이징 -->
	<select id="searchItemOrderListFc" parameterType="hashmap" resultType="vo.FcOrderVO" >
		SELECT o.fcorderseq, o.fcid, to_char(o.fcorderdate, 'YY/MM/DD hh24:mi') as fcorderdate, o.fcorderflag, sum(i.itemprice*d.itemqty) sumPrice
		FROM fcorder o 	
		LEFT JOIN fcorderdetail d ON o.fcorderseq = d.fcorderseq 
		LEFT JOIN iteminfo i ON d.itemindex = i.itemindex
		<include refid="fcItemOrderSearch"></include>
		<include refid="fcItemOrderSearchFlag"></include>
		AND o.fcid = #{vo.fcId}
		GROUP BY o.fcorderseq, o.fcid, o.fcorderdate, o.fcorderflag
		ORDER BY o.fcorderdate desc
		OFFSET #{cri.sno}-1 ROWS FETCH NEXT #{cri.rowsPerPage} ROWS ONLY 
	</select>
	
	<sql id="fcItemOrderSearch">
		<choose>
			<when test="cri.searchType == 'orderNumber'.toString()">
				<if test="cri.keyword != '' and cri.keyword != null">
					<bind name="keyVal" value="'%'+cri.keyword+'%'"/>
					WHERE o.fcorderseq like #{keyVal}
				</if>
				<if test="cri.keyword == '' or cri.keyword == null">
					WHERE 1=1
				</if>
			</when>	
			<when test="cri.searchType == 'orderDate'.toString() and minDate != '' and maxDate != ''">
				<![CDATA[ WHERE fcorderdate <= TO_DATE(#{maxDate},'YY/MM/DD')+INTERVAL '1' DAY AND fcorderDate >= TO_DATE(#{minDate},'YY/MM/DD') ]]>
			</when>
			<otherwise>WHERE 1=1</otherwise>
		</choose>
	</sql>
	
	<sql id="fcItemOrderSearchFlag">
		<choose>
			<when test="vo.fcOrderFlag != '' and vo.fcOrderFlag != null">
				AND o.fcorderflag = #{vo.fcOrderFlag}
			</when>
			<otherwise></otherwise>
		</choose>
	</sql>



	<!-- 배송소요시간 select -->
	<select id="selectDeliveryTimebyFcId" resultType="String">
		SELECT deliverytime FROM franchise WHERE fcid = #{value}
	</select>

	<!-- 배송소요시간 update -->
	<update id="updateDeliveryTime">
		UPDATE franchise SET deliverytime = #{deliveryTime} WHERE fcid = #{fcId}
	</update>


	
	<select id="selectFc" resultType="vo.FranchiseVO">
		SELECT * FROM franchise order by fcid	
	</select>
	
	<!-- 지역으로 가맹점 조회 -->
	<select id="selectListbyArea" resultType="vo.FranchiseVO">
		SELECT * FROM franchise where fcarea = #{value} ORDER BY fcid
	</select>
	
	<!-- ======================= 프랜차이즈 주소 관련 ====================== 
	
	<resultMap type="vo.FranchiseVO" id="FranchiseVO">
		<result property="fcId" column="fcId"/>
		<result property="fcPassword" column="fcPassword"/>
		<result property="fcName" column="fcName"/>
		<result property="fcAddress" column="fcAddress"/>
		<result property="fcArea" column="fcArea"/>
		<result property="fcPhone" column="fcPhone"/>
		<result property="hoId" column="hoId"/>
		<result property="fcClose" column="fcClose"/>
		<result property="deliveryTime" column="deliveryTime"/>
		<result property="fcminoraddress" column="fcminoraddress"/>	
		
		<collection property="menuVo" resultMap="MenuVO"></collection>
	</resultMap>
	
	
	<select id="selectListbyMinorAddress" resultType="vo.FranchiseVO">
		select FCID, FCADDRESS from franchise 
		where fcarea = #{majorCity} and 
		      (select substr(fcaddress,instr( FCADDRESS,' ',3,1)+1,INSTR(fcaddress,' ',1,1)) AS fcminoraddress
			  from franchise) fcminoraddress = #{minorCity}
		order by fcid	
	</select>
	
 ======================= 프랜차이즈 주소 관련 ====================== -->
	
	
	
	<select id="selectFcOne" resultType="vo.FranchiseVO">
		SELECT fcid,fcpassword,fcname,fcaddress,fcarea,fcphone,hoid
		FROM franchise WHERE fcid = #{fcId}
	</select>

	
	<!-- 프랜차이즈 폐점,오픈처리 -->
	<insert id="fcClose">
		UPDATE franchise 
		SET fcClose= 'Y'
		WHERE fcId = #{fcId}
	</insert>
	
	<!-- 프랜차이즈 비밀번호 변경 -->
	<insert id="fcPwUpdate">
		UPDATE franchise 
		SET FCPASSWORD = #{fcPassword} 
		WHERE fcId = #{fcId}
	</insert>
	
	
	<!-- 프랜차이즈 업데이트 -->
	<insert id="fcUpdate">
		UPDATE franchise 
		SET fcName=#{fcName}, fcaddress= #{fcAddress}, fcPhone=#{fcPhone},hoid=#{hoId} 
		WHERE fcId = #{fcId}
	</insert>

	<!-- HeadOffice 인서트 -->
	<insert id="fcInsert">
		INSERT INTO franchise(fcId, fcPassword, fcName, fcAddress, fcArea, fcPhone, hoId,fcClose, createddate) 
		VALUES(#{fcId}, #{fcPassword}, #{fcName}, #{fcAddress},#{fcArea}, #{fcPhone}, #{hoId}, #{fcClose}, sysdate)
	</insert>


</mapper>