<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.FranchiseMapper">















	
	<select id="selectFc" resultType="vo.FranchiseVO">
		SELECT * FROM franchise order by fcid	
	</select>
	
	<!-- 지역으로 가맹점 조회 -->
	<select id="selectListbyArea" resultType="vo.FranchiseVO">
		SELECT * FROM franchise where fcarea = #{value} ORDER BY fcid
	</select>
	
	
	<select id="selectFcOne" resultType="vo.FranchiseVO">
		SELECT fcid,fcpassword,fcname,fcaddress,fcarea,fcphone,hoid
		FROM franchise WHERE fcid = #{fcId}
	</select>

	
	<!-- 프랜차이즈 폐점,오픈처리 -->
	<insert id="fcClose">
		UPDATE franchise 
		SET fcClose= 'Y'
		WHERE fcId = #{fcId}
	</insert>
	
	
	
	<!-- 프랜차이즈 업데이트 -->
	<insert id="fcUpdate">
		UPDATE franchise 
		SET fcName=#{fcName}, fcaddress= #{fcAddress}, fcPhone=#{fcPhone},hoid=#{hoId} 
		WHERE fcId = #{fcId}
	</insert>

	<!-- HeadOffice 인서트 -->
	<insert id="fcInsert">
		INSERT INTO franchise(fcId, fcPassword, fcName, fcAddress, fcArea, fcPhone, hoId,fcClose) 
		VALUES(#{fcId}, #{fcPassword}, #{fcName}, #{fcAddress},#{fcArea}, #{fcPhone}, #{hoId}, #{fcClose})
	</insert>


</mapper>