<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.FranchiseMapper">





	<!-- 배송소요시간 select -->
	<select id="selectDeliveryTimebyFcId" resultType="String">
		SELECT deliverytime FROM franchise WHERE fcid = #{value}
	</select>

	<!-- 배송소요시간 update -->
	<update id="updateDeliveryTime">
		UPDATE franchise SET deliverytime = #{deliveryTime} WHERE fcid = #{fcId}
	</update>


	
	<select id="selectFc" resultType="vo.FranchiseVO">
		SELECT * FROM franchise order by fcid	
	</select>
	
	<!-- 지역으로 가맹점 조회 -->
	<select id="selectListbyArea" resultType="vo.FranchiseVO">
		SELECT * FROM franchise where fcarea = #{value} ORDER BY fcid
	</select>
	
	<!-- ======================= 프랜차이즈 주소 관련 ====================== -->
	
	<resultMap type="vo.FranchiseVO" id="FranchiseVO">
		<result property="fcId" column="fcId"/>
		<result property="fcPassword" column="fcPassword"/>
		<result property="fcName" column="fcName"/>
		<result property="fcAddress" column="fcAddress"/>
		<result property="fcArea" column="fcArea"/>
		<result property="fcPhone" column="fcPhone"/>
		<result property="hoId" column="hoId"/>
		<result property="fcClose" column="fcClose"/>
		<result property="deliveryTime" column="deliveryTime"/>
		<result property="fcminoraddress" column="fcminoraddress"/>	
		
		<collection property="menuVo" resultMap="MenuVO"></collection> <!-- 이건 어떤역할? -->
	</resultMap>
	
	
	<select id="selectListbyMinorAddress" resultType="vo.FranchiseVO">
		select FCID, FCADDRESS from franchise 
		where fcarea = #{majorCity} and 
		      (select substr(fcaddress,instr( FCADDRESS,' ',3,1)+1,INSTR(fcaddress,' ',1,1)) AS fcminoraddress
			  from franchise) fcminoraddress = #{minorCity}
		order by fcid	
	</select>
	
	<!-- ======================= 프랜차이즈 주소 관련 ====================== -->
	
	
	
	
	<select id="selectFcOne" resultType="vo.FranchiseVO">
		SELECT fcid,fcpassword,fcname,fcaddress,fcarea,fcphone,hoid
		FROM franchise WHERE fcid = #{fcId}
	</select>

	
	<!-- 프랜차이즈 폐점,오픈처리 -->
	<insert id="fcClose">
		UPDATE franchise 
		SET fcClose= 'Y'
		WHERE fcId = #{fcId}
	</insert>
	
	
	
	<!-- 프랜차이즈 업데이트 -->
	<insert id="fcUpdate">
		UPDATE franchise 
		SET fcName=#{fcName}, fcaddress= #{fcAddress}, fcPhone=#{fcPhone},hoid=#{hoId} 
		WHERE fcId = #{fcId}
	</insert>

	<!-- HeadOffice 인서트 -->
	<insert id="fcInsert">
		INSERT INTO franchise(fcId, fcPassword, fcName, fcAddress, fcArea, fcPhone, hoId,fcClose) 
		VALUES(#{fcId}, #{fcPassword}, #{fcName}, #{fcAddress},#{fcArea}, #{fcPhone}, #{hoId}, #{fcClose})
	</insert>


</mapper>