<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.HeadOfficeMapper">

<!-- resultMap 설정 ============================================================-->
	<resultMap type="vo.FcOrderDetailVO" id="FcOrderDetailVO">
		<result column="fcOrderDetailSeq" property="fcOrderDetailSeq"/>
		<result column="itemfcOrderSeqName" property="fcOrderSeq"/>
		<result column="itemIndex" property="itemIndex"/>
		<result column="itemQty" property="itemQty"/>
		<collection property="itemInfoVO" resultMap="ItemInfoVO"/>
	</resultMap>

 
  <resultMap type="vo.ItemInfoVO" id="ItemInfoVO">
		<result column="itemIndex" property="itemIndex"/>
		<result column="itemName" property="itemName"/>
		<result column="itemFlag" property="itemFlag"/>
		<result column="itemUnit" property="itemUnit"/>
		<result column="itemPrice" property="itemPrice"/>
	</resultMap>
<!-- resultMap 설정 ============================================================-->  

	<!-- 가맹점 자재발주 등록(발주먼저등록), return fcOrderSeq -->
	
	<insert id="insertFcOrder" parameterType="vo.FcOrderVO">
		<selectKey keyProperty="fcOrderSeq" resultType="int" order="BEFORE">
			SELECT nvl(max(fcorderseq),0)+1 FROM fcorder
		</selectKey>
		INSERT INTO fcorder (fcorderseq, fcid, fcorderdate, fcorderflag)
		VALUES (#{fcOrderSeq}, #{fcId}, sysdate, 'N')
	</insert>
	
	<!-- 가맹점 자재발주 상세내역 등록 -->
	<insert id="insertFcOrderDetail">
		<selectKey keyProperty="fcOrderDetailSeq" resultType="int" order="BEFORE">
			SELECT nvl(max(fcorderdetailseq),0) FROM fcorderdetail
		</selectKey>
		INSERT INTO fcorderdetail(fcorderdetailseq, fcOrderSeq, Itemindex, Itemqty)
		<foreach collection="list" item="vo" separator="UNION" index="index">
			SELECT #{fcOrderDetailSeq}+1+#{index}, #{vo.fcOrderSeq}, #{vo.itemIndex}, #{vo.itemQty} FROM DUAL
		</foreach>
	</insert>
	

	
  
	<!-- itemflag에 따라 select item -->
	<select id="selectItembyFlag" resultType="vo.ItemInfoVO">
		SELECT * FROM iteminfo WHERE itemflag = #{itemFlag} ORDER BY itemname
	</select>
	
	<!-- 가맹점 발주내역 처리완료로 변경 -->
	<update id="fcOrderSeqUpdate" parameterType="hashmap">
		UPDATE fcorder SET fcorderflag = #{flag} where fcorderseq = #{vo.fcOrderSeq}
	</update>
	
	
	
	<!-- 가맹점 발주내역 상세보기(발주번호 별로) -->
	<select id="selectFcOrderDetailbyOrderNumber"  resultMap="FcOrderDetailVO">
		SELECT o.*,i.* FROM fcorderdetail o, iteminfo i  WHERE o.itemindex = i.itemindex and fcorderseq = #{fcOrderSeq} 
	</select>
  
	<!-- searchFcOrderRows -->
	<select id="searchFcOrderRows" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) FROM fcorder 
		<include refid="fcOrderSearch"></include>
		<if test="flag != null and value != '' ">
			and fcorderflag = #{flag}
		</if>
	</select>  
	
	<!-- 가맹점 발주정보 서치,페이징 -->
	<select id="searchFcOrder" parameterType="hashmap" resultType="vo.FcOrderVO" >
		SELECT * FROM fcorder
		 <include refid="fcOrderSearch"></include>
		<if test="flag != null and value != '' ">
			and fcorderflag = #{flag}
		</if>
		ORDER BY fcorderseq desc
		OFFSET #{cri.sno}-1 ROWS FETCH NEXT #{cri.rowsPerPage} ROWS ONLY 
	</select>
	
	<sql id="fcOrderSearch">
		<if test="cri.keyword != null">
			<bind name="keyVal" value="'%'+cri.keyword+'%'"/>
		</if>
		<choose>
			<when test="cri.searchType == 'fcId'.toString()">
				WHERE fcId like #{keyVal}
			</when>
			<otherwise>WHERE 1=1</otherwise>
		</choose>
	</sql>
	

	<delete id="itemdelete">
		DELETE iteminfo WHERE itemindex = #{itemIndex}
	</delete>
	

	<!-- itemupdate 본사자재 정보수정 -->
	<update id="itemUpdate">
		UPDATE iteminfo SET itemname = #{itemName}, itemflag = #{itemFlag}, itemunit = #{itemUnit}, itemprice = #{itemPrice}
		WHERE itemindex = #{itemIndex}
	</update>

	<!-- selectOneItem 본사자재 1건출력 -->
	<select id="selectOneItem" resultType="vo.ItemInfoVO">
		SELECT * FROM iteminfo where itemIndex=#{itemIndex}
	</select>

	<!-- selectAllItem 본사자재 모두출력 -->
	<select id="selectAllItem" resultType="vo.ItemInfoVO">
		SELECT * FROM iteminfo order by itemindex
	</select>
	
	<!-- searchItemRow -->
	<select id="searchItemRows" resultType="int">
		SELECT COUNT(*) FROM iteminfo <include refid="itemSearch"></include>
	</select>
	
	<!-- searchItem 본사자재 서치,페이징 -->
	<select id="searchItemList" resultType="vo.ItemInfoVO">
		SELECT * FROM iteminfo <include refid="itemSearch"></include> 
		ORDER BY itemindex
		OFFSET #{sno}-1 ROWS FETCH NEXT #{rowsPerPage} ROWS ONLY
	</select>

	<sql id="itemSearch" >
		<if test="keyword != null">
			<bind name="keyVal" value="'%'+keyword+'%'"/>
		</if>
		<choose>
			<when test="searchType == 'name'.toString()">
				where itemname LIKE #{keyVal} 
				 <!-- and title Like  CONCAT('%',CONCAT(#{keyword},'%')) 
                 and title Like  '%' || #{keyword} || '%' ) -->
			</when>
			<when test="searchType == 'flag'.toString()">
				where itemflag LIKE #{keyVal} 
			</when>			
			<otherwise></otherwise>						
		</choose>
	</sql>


	<!-- iteminfo insrt 본사 자재 입력 -->
	<insert id="iteminsert">
		INSERT INTO iteminfo(itemindex, itemname, itemflag, itemunit, itemprice)
		VALUES((select nvl(max(itemindex),0)+1 from iteminfo), #{itemName}, #{itemFlag}, #{itemUnit}, #{itemPrice})
	</insert>
	
	
	
<!-- ===================================< 사원관리 >======================================== -->
	<!-- ** LoginSelectOne -->
	<select id="loginSelectOne" resultType="vo.HeadOfficeVO">
		SELECT * FROM HeadOffice
		WHERE HOID = #{staffVo.staffCode}
	</select>
	<!-- ** SelectOne -->
	<select id="selectOne" resultType="vo.StaffVO">
		SELECT * FROM staff WHERE
		StaffCode = #{staffCode}
	</select>


	<!-- staff 인서트 -->
	<insert id="staffInsert">
		INSERT INTO staff VALUES(#{staffCode}, #{staffName}, #{staffPosition}, #{staffPhone}, #{staffEmail})
	</insert>
	
	
	<!-- HeadOffice 인서트 -->
	<insert id="headOfficeInsert">
		INSERT INTO headOffice(hoid, hoPassword) VALUES(#{staffVo.staffCode}, #{hoPassword})
	</insert>
	
	
	
	<!-- stafflist 전부출력 -->
	<select id="selectMList" resultType="vo.StaffVO">
		SELECT * FROM staff ORDER BY staffCode desc
	</select>
	
		<!-- searchStaffRow -->
	<select id="searchStaffRows" resultType="int">
		SELECT COUNT(*) FROM Staff <include refid="staffSearch"></include>
	</select>

		<!-- searchStaff 서치,페이징 -->
	<select id="searchStaffList" resultType="vo.StaffVO">
		SELECT * FROM staff <include refid="staffSearch"></include> 
		ORDER BY staffCode desc
		OFFSET #{sno}-1 ROWS FETCH NEXT #{rowsPerPage} ROWS ONLY
	</select>

	<sql id="staffSearch" >
		<if test="keyword != null">
			<bind name="keyVal" value="'%'+keyword+'%'"/>
		</if>
		<choose>
			<when test="searchType == 'code'.toString()">
				where staffCode LIKE #{keyVal} 
				 <!-- and title Like  CONCAT('%',CONCAT(#{keyword},'%')) 
                 and title Like  '%' || #{keyword} || '%' ) -->
			</when>
			<when test="searchType == 'name'.toString()">
				where staffName LIKE #{keyVal} 
			</when>			
			<when test="searchType == 'position'.toString()">
				where staffPosition LIKE #{keyVal} 
			</when>			
			<when test="searchType == 'phone'.toString()">
				where staffPhone LIKE #{keyVal} 
			</when>			
			<when test="searchType == 'email'.toString()">
				where staffEmail LIKE #{keyVal} 
			</when>			
			<otherwise></otherwise>						
		</choose>
	</sql>

 	 <!-- headOffice PW 변경 -->
	<insert id="headOfficePwUpdate">
	UPDATE headOffice SET hoPassword = #{hoPassword} WHERE hoid = #{staffVo.staffCode}
	</insert>
	
	
	<!-- headOffice 삭제 -->
	<delete id="headOfficeDelete">
	DELETE FROM headOffice where hoid = #{staffVo.staffCode}
	</delete>
	
	
	<!-- staff 삭제 -->
	<delete id="staffDelete">
		DELETE FROM staff where staffCode = #{staffCode}
	</delete>
	
	
	<!-- staff 업데이트 -->
	<insert id="staffUpdate">
		UPDATE staff 
		SET staffName=#{staffName}, staffPosition= #{staffPosition}, staffPhone=#{staffPhone},staffEmail=#{staffEmail} 
		WHERE staffCode = #{staffCode}
	</insert>

<!-- ===================================< 가맹점관리 >=================================== -->


	<!-- searchFcRow -->
	<select id="searchFcRows" resultType="int">
		SELECT COUNT(*) FROM franchise <include refid="fcSearch"></include>
	</select>


	<!-- searchItem 본사자재 서치,페이징 -->
	<select id="searchFcList" resultType="vo.FranchiseVO">
		SELECT * FROM franchise <include refid="fcSearch"></include> 
		ORDER BY length(fcid) desc,fcid desc
		OFFSET #{sno}-1 ROWS FETCH NEXT #{rowsPerPage} ROWS ONLY
	</select>

	<sql id="fcSearch" >
		<if test="keyword != null">
			<bind name="keyVal" value="'%'+keyword+'%'"/>
		</if>
		<choose>
			<when test="searchType == 'fcid'.toString()">
				where fcId LIKE #{keyVal} and fcClose='N'
				 <!-- and title Like  CONCAT('%',CONCAT(#{keyword},'%')) 
                 and title Like  '%' || #{keyword} || '%' ) -->
			</when>
			<when test="searchType == 'fcname'.toString()">
				where fcName LIKE #{keyVal} and fcClose='N'
			</when>			
			<when test="searchType == 'phone'.toString()">
				where fcPhone LIKE #{keyVal}  and fcClose='N'
			</when>			
			<when test="searchType == 'area'.toString()">
				where fcArea LIKE #{keyVal} and fcClose='N'
			</when>			
			<when test="searchType == 'address'.toString()">
				where fcAddress LIKE #{keyVal} and fcClose='N'
			</when>			 
			<when test="searchType == 'staff'.toString()">
				where hoId LIKE #{keyVal} and fcClose='N'
			</when>			
			<otherwise>where fcClose='N'</otherwise>						
		</choose>
	</sql>



	<!-- ============================={ 통계 }================================ -->
	<!-- 최근 1년 월별 통계 -->
	<select id="monthChart" resultType="vo.ChartVO">
	SELECT TO_CHAR(orderdate, 'YYYYMM') AS chartLabel , count(*) AS chartCount
	FROM orderlist 
	WHERE TO_CHAR(orderdate, 'YYYYMM')
	BETWEEN to_char(ADD_MONTHS(sysdate,-12),'YYYYMMDD') AND to_char(sysdate,'YYYYMMDD') 
	GROUP BY to_char(ORDERDATE , 'YYYYMM')
	ORDER BY chartLabel
	</select>
	
	<!-- 요일별 통계 -->
	<select id="dayChart" resultType="vo.ChartVO">
	SELECT case to_char(orderdate,'d') 
	   when '1' then '일요일'
       when '2' then '월요일'
       when '3' then '화요일'
       when '4' then '수요일'
       when '5' then '목요일'
       when '6' then '금요일'
       when '7' then '토요일'
       END "chartLabel"
	, count(*) AS chartCount FROM ORDERLIST o 
	GROUP BY to_char(orderdate,'d')
	ORDER BY to_char(orderdate,'d') ASC
	</select>

	




</mapper>