<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.HeadOfficeMapper">


  
  
  
	
	<!-- headOffice 삭제 -->
	
	<delete id="headOfficeDelete">
	DELETE FROM headOffice where hoid = #{staffVo.staffCode}
	</delete>
	
	
	
	<!-- staff 삭제 -->
	
	<delete id="staffDelete">
		DELETE FROM staff where staffCode = #{staffCode}
	
	</delete>
	
	
	<!-- staff 업데이트 -->
	
	<insert id="staffUpdate">
		UPDATE staff 
		SET staffName=#{staffName}, staffPosition= #{staffPosition}, staffPhone=#{staffPhone},staffEmail=#{staffEmail} 
		WHERE staffCode = #{staffCode}
	</insert>
	
	<!-- 가맹점 발주내역 상세보기(발주번호 별로) -->
	<select id="selectFcOrderDetailbyOrderNumber" resultType="vo.FcOrderDetailVO">
		SELECT * FROM fcorderdetail WHERE fcorderseq = #{fcOrderSeq}
	</select>
  
	
	<!-- 가맹점 발주정보 전체조회 -->
	<select id="selectFcOrder" resultType="vo.FcOrderVO" >
		SELECT * FROM fcorder 
		<if test="value != null and value != '' ">
		WHERE fcorderflag = #{value}
		</if>
		ORDER BY fcorderseq 
	</select>
	
	<!-- staff 인서트 -->
	<insert id="staffInsert">
		INSERT INTO staff VALUES(#{staffCode}, #{staffName}, #{staffPosition}, #{staffPhone}, #{staffEmail})
	</insert>
	
	
	<!-- HeadOffice 인서트 -->
	<insert id="headOfficeInsert">
		INSERT INTO headOffice(hoid, hoPassword) VALUES(#{staffVo.staffCode}, #{hoPassword})
	</insert>
	
	
	
	<!-- stafflist 전부출력 -->
	<select id="selectMList" resultType="vo.StaffVO">
		SELECT * FROM staff ORDER BY staffCode desc
	</select>



	<delete id="itemdelete">
		DELETE iteminfo WHERE itemindex = #{itemIndex}
	</delete>
	

	<!-- itemupdate 본사자재 정보수정 -->
	<update id="itemUpdate">
		UPDATE iteminfo SET itemname = #{itemName}, itemflag = #{itemFlag}, itemunit = #{itemUnit}, itemprice = #{itemPrice}
		WHERE itemindex = #{itemIndex}
	</update>

	<!-- selectOneItem 본사자재 1건출력 -->
	<select id="selectOneItem" resultType="vo.ItemInfoVO">
		SELECT * FROM iteminfo where itemIndex=#{itemIndex}
	</select>



	<!-- selectAllItem 본사자재 모두출력 -->
	<select id="selectAllItem" resultType="vo.ItemInfoVO">
		SELECT * FROM iteminfo order by itemindex
	</select>
	


	<!-- iteminfo insrt 본사 자재 입력 -->
	<insert id="iteminsert">
		INSERT INTO iteminfo(itemindex, itemname, itemflag, itemunit, itemprice)
		VALUES((select nvl(max(itemindex),0)+1 from iteminfo), #{itemName}, #{itemFlag}, #{itemUnit}, #{itemPrice})
	</insert>
	
	<!-- ** LoginSelectOne -->
	<select id="loginSelectOne" resultType="vo.HeadOfficeVO">
		SELECT * FROM HeadOffice
		WHERE HOID = #{staffVo.staffCode}
	</select>
	<!-- ** SelectOne -->
	<select id="selectOne" resultType="vo.StaffVO">
		SELECT * FROM staff WHERE
		StaffCode = #{staffCode}
	</select>



</mapper>