<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.MenuMapper">
  

						<!--<<  CREATE  >>-->
	
	<insert id="menuInsert">
		
		INSERT INTO MENUINFO (MENUINDEX, MENUNAME, MENUFLAG, MENUINTRO, MENUPRICE, MENUIMAGE)
		VALUES((select nvl(max(menuIndex),0)+1 from menuinfo), #{menuName}, #{menuFlag}, #{menuIntro}, #{menuPrice},#{menuImage})
		
	</insert>
	
						<!--<<  READ  >>-->
     					<!--<<  read_all  >>-->
	<select id="selectMenuList" resultType="vo.MenuVO">
		SELECT * FROM MENUINFO order by menuIndex asc
	</select>
     					<!--<<  read_one  >>-->
	<select id="selectMenuOne" resultType="vo.MenuVO">
		SELECT * FROM MENUINFO
		WHERE MENUNAME = #{MENUNAME}
	</select>		
	
						<!--<<  UPDATE  >>-->
	<update id="menuUpdate">
		UPDATE MENUINFO SET 
		MENUNAME=#{MENUNAME}, 
		MENUINTRO=#{MENUINTRO},  
		MENUIMAGE=#{MENUIMAGE}
		where MENUNAME=#{MENUNAME}
	</update>
							
						<!--<<  DELETE  >>-->	
	<delete id="menuDelete">
		delete from menuinfo where MENUINDEX = #{menuIndex}	
	</delete>
	
		
	
</mapper>