<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.MenuMapper">
  


	<select id="selectMenuListbyFlag" resultType="vo.MenuVO">
		SELECT * FROM menuinfo WHERE menuflag = #{menuFlag} and menulive = 'live'
	</select>


						<!--<<  CREATE  >>-->
	
	<insert id="menuInsert">
		
		INSERT INTO MENUINFO (MENUINDEX, MENUNAME, MENUFLAG, MENUINTRO, MENUPRICE, MENUIMAGE,MENULIVE)
		VALUES((select nvl(max(menuIndex),0)+1 from menuinfo), #{menuName}, #{menuFlag}, #{menuIntro}, #{menuPrice},#{menuImage},
		#{menuLive})
		
	</insert>
	
						<!--<<  READ  >>-->
     					<!--<<  read_all  >>-->
	<select id="selectMenuList" resultType="vo.MenuVO">

		SELECT * FROM MENUINFO order by menuIndex asc

	</select>
	<!--<<  searchMenuList  >>-->
	<select id="searchMenuList" resultType="vo.MenuVO">
		SELECT * FROM menuinfo
		<include refid="menuSearch"></include> 
		ORDER BY menuindex
		OFFSET #{sno}-1 ROWS FETCH NEXT #{rowsPerPage} ROWS ONLY	
	</select>
	
	<!--<<  searchMenuRows  >>-->
	<select id="searchMenuRows" resultType="int">
		SELECT COUNT(*) FROM menuinfo <include refid="menuSearch"></include>	
	</select>
	
	<!--<<  menuSearch  >>-->
	<sql id="menuSearch" >
		<if test="keyword != null">
			<bind name="keyVal" value="'%'+keyword+'%'"/>
		</if>
		<choose>
			<when test="searchType == 'name'.toString()">
				where menuname LIKE #{keyVal} 
				 <!-- and title Like  CONCAT('%',CONCAT(#{keyword},'%')) 
                 and title Like  '%' || #{keyword} || '%' ) -->
			</when>
			<when test="searchType == 'flag'.toString()">
				where menuflag LIKE #{keyVal} 
			</when>			
			<otherwise></otherwise>						
		</choose>
	</sql>
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!--<<  menuSearch  >>-->
	<select id="selectAllMenu" resultType="vo.MenuVO">
		SELECT * FROM menuinfo order by menuindex
	</select>
	
	
	
	
	
	
	
	
     					<!--<<  read_one  >>-->
	<select id="selectMenuOne" resultType="vo.MenuVO">
		SELECT * FROM MENUINFO
		WHERE MENUINDEX = #{menuIndex}
	</select>		
	
						<!--<<  UPDATE  >>-->	
	<update id="menuUpdate">
	
		UPDATE MENUINFO SET 
		
		MENUFLAG=#{menuFlag},
		MENUNAME=#{menuName},
		MENUINTRO=#{menuIntro}, 
		MENUPRICE=#{menuPrice},	
		MENUIMAGE=#{menuImage}
		where MENUINDEX=#{menuIndex}
	</update>
						
	<update id="menuLive">
		UPDATE MENUINFO SET
		menuLive = #{menuLive}
		where menuIndex =#{menuIndex}
	</update>
	
	<update id="menuDie">
		UPDATE MENUINFO SET
		menuLive = #{menuDie}
		where menuIndex = #{menuIndex}
	</update>
					
						
						<!--<<  DELETE  >>-->	
	<delete id="menuDelete">
		delete from menuinfo where MENUINDEX = #{menuIndex}	
	</delete>
	
	
	
		
	
</mapper>