<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.OrderMapper">

	<resultMap type="vo.OrderDetailListVO" id="OrderDetailListVO">
		<result property="orderDetailNumber" column="orderDetailNumber"/>
		<result property="orderNumber" column="orderNumber"/>
		<result property="menuIndex" column="menuIndex"/>
		<result property="menuQty" column="menuQty"/>
		<collection property="menuVo" resultMap="mapperInterface.ClientMapper.MenuVO"></collection>
	</resultMap>


	
	
<!-- ======================= 주문조회,수정 관련 ====================== -->
	
	
	
	<!-- 가맹점별 주문정보 조회 - completeYN 필드 유무로 조건검. -->
	<select id="selectFcOrderbyFcId" resultType="vo.OrderListVO">
		SELECT ordernumber, fcid, completeyn, memo, to_char(orderdate,'yy/mm/dd hh24:mi') orderdate, clientPhone, clientAddress
		FROM orderlist o
		WHERE o.fcid = #{fcId}
		<choose>
			<when test="#{completeYN != null and completeYN != ''}">
				AND completeyn = #{completeYN}
			</when>
			<otherwise></otherwise>
		</choose>
		ORDER BY orderdate
	</select>


	<!-- 주문번호별 주문상세내역 조회 -->
	<select id="selectDetailbyOrderNumber" resultMap="OrderDetailListVO">
		SELECT o.*, m.menuName, m.menuPrice
		FROM orderdetaillist o, menuinfo m WHERE o.ordernumber = #{orderNumber} And m.menuindex = o.menuindex 
		ORDER BY o.orderdetailnumber
	</select>

	<!-- 주문취소처리 -->
	<update id="orderCancel">
		UPDATE orderlist SET completeyn = 'C' WHERE ordernumber = #{orderNumber}
	</update>
	
	<!-- 주문 완료처리 -->
	<update id="orderComplete">
		UPDATE orderlist SET completeyn = 'Y' WHERE ordernumber = #{orderNumber}
	</update>


	<!-- 완료주문 searchOrderRows -->
	<select id="searchCompleteOrderRows" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) FROM orderlist 
		<include refid="completeOrderSearch"></include>
			AND completeyn = 'Y' AND fcid = #{vo.fcId}
	</select>  
	
	<!-- 완료주문 서치,페이징 -->
	<select id="searchCompleteOrder" parameterType="hashmap" resultType="vo.OrderListVO" >
		SELECT ordernumber, clientid, fcid, completeyn, memo, to_char(orderDate,'YY/MM/DD HH24:MI') orderDate,
		clientname, clientaddress, clientphone, memberyn		
		FROM orderlist
		 <include refid="completeOrderSearch"></include>
		AND completeyn = 'Y' AND fcid = #{vo.fcId}
		ORDER BY ordernumber desc
		OFFSET #{cri.sno}-1 ROWS FETCH NEXT #{cri.rowsPerPage} ROWS ONLY 
	</select>
	
	<sql id="completeOrderSearch">
		<choose>
			<when test="cri.searchType == 'orderNumber'.toString()">
				<if test="cri.keyword != null">
					<bind name="keyVal" value="'%'+cri.keyword+'%'"/>
				</if>
				WHERE orderNumber like #{keyVal}
			</when>	
			<when test="cri.searchType == 'orderDate'.toString()">
				<![CDATA[ WHERE orderDate <= TO_DATE(#{maxDate},'YY/MM/DD')+INTERVAL '1' DAY AND orderDate >= TO_DATE(#{minDate},'YY/MM/DD') ]]>
			</when>
			<otherwise>WHERE 1=1</otherwise>
		</choose>
	</sql>

	<!-- 비회원주문조회용 -->
	<select id="selectOrderbyPhone" resultType="vo.OrderListVO">
		SELECT orderNumber, clientId, fcId, memo, TO_CHAR(orderDate,'yyyy-mm-dd am hh:mi:ss') as orderDate,clientName, clientAddress, clientPhone 
		FROM ORDERLIST o 
		WHERE CLIENTPHONE = #{clientPhone} AND COMPLETEYN = 'N'
		ORDER BY orderdate DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	
		<!-- 고객별 주문조회 rows -->
	<select id="searchClientIdOrderRows"  parameterType="hashmap" resultType="int">
		SELECT COUNT(*) FROM orderlist 
		WHERE clientId = #{clientId}
	</select>  
	
	<!-- 고객별 주문조회 -->
	<select id="searchClientIdOrderList"  parameterType="hashmap" resultType="vo.OrderListVO" >
		SELECT o.ORDERNUMBER, o.CLIENTID, o.FCID ,o.CLIENTADDRESS,o.ORDERDATE  , SUM(o2.MENUQTY*m.MENUPRICE) AS price
		FROM ORDERLIST o 
		JOIN ORDERDETAILLIST o2 
		ON o.ORDERNUMBER = o2.ORDERNUMBER 
		JOIN MENUINFO m 
		ON o2.MENUINDEX = m.MENUINDEX
		WHERE o.CLIENTID = #{clientId}
		GROUP BY o.ORDERNUMBER,o.CLIENTID,o.FCID ,o.CLIENTADDRESS ,o.ORDERDATE
		ORDER BY ORDERDATE DESC
		OFFSET #{cri.sno}-1 ROWS FETCH NEXT #{cri.rowsPerPage} ROWS ONLY 
	</select>
	
	<select id="selectOneOrderList" resultType="vo.OrderListVO">
		select*from orderList
		where orderNumber= #{orderNumber}
	</select>
	


<!-- ======================= 주문조회,수정 관련 ====================== -->


<!-- ======================= 주문등록 관련 ====================== -->

	<!-- 주문정보 등록 -->
	<insert id="insertOrderList" parameterType="hashmap">
		<selectKey keyProperty="orderNumber" resultType="int" order="BEFORE">
			SELECT nvl(max(ordernumber),0)+1 from orderlist
		</selectKey>
		INSERT INTO orderlist(ordernumber, clientid, fcid, completeyn, memo, orderdate, clientName, clientAddress, clientPhone, memberYN)
		VALUES (#{orderNumber}, #{clientId}, #{fcId}, 'N',
		nvl(#{memo},'X'), sysdate, #{clientName}, #{clientAddress}, #{clientPhone}, #{memberYN})
	</insert>


	<!-- 주문상세정보 등록 -->
	<insert id="insertOrderDetailList">
		INSERT INTO orderdetaillist (orderdetailnumber, ordernumber, menuindex, menuqty)
		<foreach collection="list" item="vo" separator=" UNION ALL " index="index">
			SELECT (SELECT nvl(max(orderdetailnumber),0)+1+${index} FROM orderdetaillist),
			 #{orderNumber}, #{vo.menuVo.menuIndex}, #{vo.menuQty} FROM DUAL
		</foreach>
	</insert>





<!-- ======================= 주문등록 관련 ====================== -->

</mapper>










